<?xml version="1.0" encoding="utf-8" ?>
<Configuration>

	<DbConnection
		ConnectionString=""
		ConnectionTimeOut="15"
		CommandTimeOut="60"
	
	/>

	<DbConnectionWithDB
		ConnectionString="Provider=SQLOLEDB.1;App=IOCPTest-WorkerThread;Network Library=DBMSSOCN;Persist Security Info=True;Initial Catalog=NorthWind;Data Source=Server; Integrated Security=SSPI"
		ConnectionTimeOut="15"
		CommandTimeOut="60"
	
	/>

	<SocketConnection
		Port="4500"
		MinThreads="3"
		MaxThreads="10"
		IdleTimeOut="120"
	/>

</Configuration>
